/* here css classes for the backend go */
.o-spreadsheet {
    /*rtl:ignore*/
    direction: ltr;
}
div.o-dashboard-action .mx-3 .my-1 .border {
    margin-top: 0.25rem !important;
    margin-bottom: 1.25rem !important;
}
div.o-scrollbar.vertical {
    overflow-y: clip;
}
.o_main_navbar .o_nav_entry:active {
    background-color: rgba(0, 0, 0, 0.08) !important;
}
.o_form_view .o_address_format .o_address_city span {
    margin-right: auto;
}
/* Make Company Name Bigger */
.o_switch_company_menu .oe_topbar_name {
    font-weight: bold;
    font-size: 1.16rem;
}
/* Make Company name bigger on move form */
.o_form_sheet div[name="company_id"] {
    font-weight: bold;
    font-size: 1.3rem;
}
/* make navigation areas bigger on multiple attachments */
.o_AttachmentViewer_buttonNavigation {
    width: 40px;
    height: 40px;
    background: white;
}
/* Make my Warnings bigger*/
@keyframes vertical-shaking {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}
.alert-warning {
    font-size: 20px;
    text-align: center;
    animation: vertical-shaking 0.3s 2;
}
.o_Message.o-not-discussion:not(.o-notification) {
    background: #d1d1d1;
}
