/* here css classes for the backend go */
.o-spreadsheet .o-scorecard .o-scorecard-content .o-key-text {
    /*rtl:ignore*/
    direction: ltr;
}
.o-dashboard-action .mx-3 .my-1 .border {
    margin-top: 0.25rem !important;
    margin-bottom: 1.25rem !important;
}
div.o-scrollbar.vertical {
    display: none;
}
