.s_product_product_borderless_1 .o_carousel_product_img_link,
.s_product_product_borderless_2 .o_carousel_product_img_link,
.s_product_product_add_to_cart .o_carousel_product_img_link {
    position: relative;
}
.bankayma_products_searchbar {
    padding: 5%;
}
section h2 {
    padding: 1.5rem;
}
