.bankayma_searchbar {
    .badge {
        cursor: pointer;
    }
    .badge::after {
        content: "\f00d";
        font-family: Fontawesome;
    }
    form .dropdown-item {
        cursor: pointer;
    }
    z-index: 1040;
}
