<odoo>
    <record id="action_bankayma_website_root" model="ir.actions.server">
        <field name="name">Company page action</field>
        <!-- doesn't matter which model as long as it's writable -->
        <field name="model_id" ref="mail.model_mail_message" />
        <field name="state">code</field>
        <field name="code">
            action = env['website'].get_client_action('/projects/%s' % model.env.company.id)
        </field>
    </record>

    <menuitem
        id="menu_bankayma_website_root"
        name="BANKayma website"
        sequence="110"
        web_icon="bankayma_account,static/img/odoo_icon_bk_out.png"
        groups="group_website,bankayma_base.group_org_manager,bankayma_base.group_full"
        action="action_bankayma_website_root"
    />
    <menuitem
        id="menu_bankayma_website_content"
        parent="menu_bankayma_website_root"
        name="Content"
        sequence="50"
    />
    <record id="website_blog.action_blog_post" model="ir.actions.act_window">
        <field name="domain">[('company_id', 'in', allowed_company_ids)]</field>
    </record>
    <menuitem
        id="menu_blog_posts"
        action="website_blog.action_blog_post"
        parent="menu_bankayma_website_content"
        name="Blog posts"
        sequence="50"
    />
    <record id="website_event.action_event_pages_list" model="ir.actions.act_window">
        <field name="domain">[('company_id', 'in', allowed_company_ids)]</field>
    </record>
    <menuitem
        id="menu_events"
        action="website_event.action_event_pages_list"
        parent="menu_bankayma_website_content"
        name="Events"
        sequence="100"
    />
    <record id="action_categories" model="ir.actions.act_window">
        <field name="name">Product categories</field>
        <field name="res_model">product.category</field>
        <field
            name="domain"
            eval="&quot;[('id', 'in', [%d, %d])]&quot; % (ref('bankayma_website.product_category_webshop_product'), ref('bankayma_website.product_category_webshop_event'))"
        />
        <field name="view_mode">tree,form</field>
    </record>
    <menuitem
        id="menu_categories"
        action="action_categories"
        parent="menu_bankayma_website_root"
        sequence="100"
        groups="bankayma_base.group_org_manager"
    />
    <record id="action_event_types" model="ir.actions.act_window">
        <field name="name">Event templates</field>
        <field name="res_model">event.type</field>
        <field
            name="domain"
            eval="&quot;[('id', 'in', [%d])]&quot; % (ref('bankayma_website.event_type_webshop'),)"
        />
        <field name="view_mode">tree,form</field>
    </record>
    <menuitem
        id="menu_event_types"
        action="action_event_types"
        parent="menu_bankayma_website_root"
        sequence="200"
        groups="bankayma_base.group_org_manager"
    />
    <menuitem
        id="menu_config"
        parent="menu_bankayma_website_root"
        name="Configuration"
        sequence="1000"
    />
    <record id="action_config_company" model="ir.actions.server">
        <field name="name">Company Settings</field>
        <field name="state">code</field>
        <field name="model_id" ref="base.model_res_company" />
        <field name="code">
            action = {
                "name": env.company.name,
                "type": "ir.actions.act_window",
                "res_model": model._name,
                "res_id": env.company.id,
                "views": [(False, 'form')],
            }
        </field>
    </record>
    <menuitem
        id="menu_config_company"
        action="action_config_company"
        parent="menu_config"
        sequence="10"
    />
</odoo>
