.bk-company-logo-overlay {
    width: 3.3rem;
    position: absolute;
    right: auto;
    left: 0.5rem;
    bottom: 0.5rem;
    border-radius: 50%;
    background: white;
}
.bk-company-logo-overlay-right {
    left: auto;
    right: 0.5rem;
}
section h2 {
    padding: 1.5rem;
}
.o_cc3 .text-muted,
.o_colored_level .o_cc3 .text-muted {
    color: rgb(130, 109, 140) !important;
}
