.bk-company-logo-overlay {
    width: 3.3rem;
    position: absolute;
    right: auto;
    left: 0.5rem;
    bottom: 0.5rem;
    border-radius: 50%;
    background: white;
}
.bk-company-logo-overlay-right {
    left: auto;
    right: 0.5rem;
}
.section .h2 {
    padding: 1.4rem;
}
