<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2023 Hunki Enterprises BV
     License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). -->
<odoo>
    <!-- add own main menu that other customization addons fill -->
    <menuitem
        id="menu_bankayma_root"
        name="BANKayma"
        sequence="100"
        action="board.open_board_my_dash_action"
        web_icon="bankayma_base,static/description/icon.png"
        groups="group_user"
    />
    <record
        id="contacts.action_contacts_view_kanban"
        model="ir.actions.act_window.view"
    >
        <field name="sequence" eval="3" />
    </record>
    <menuitem
        id="menu_bankayma_contacts"
        action="contacts.action_contacts"
        parent="menu_bankayma_root"
        sequence="200"
    />
    <menuitem
        id="menu_bankayma_config"
        parent="menu_bankayma_root"
        sequence="1000"
        groups="group_manager"
        name="Configuration"
    />
    <record id="base.action_res_company_form" model="ir.actions.act_window">
        <field name="view_mode">kanban,tree,form</field>
    </record>
    <menuitem
        id="menu_bankayma_companies"
        parent="menu_bankayma_config"
        sequence="10"
        action="base.action_res_company_form"
    />

    <record id="action_simplified_income_company_config" model="ir.actions.act_window">
        <field name="name">Organization config</field>
        <field name="res_model">res.company</field>
        <field name="view_mode">kanban,form</field>
    </record>

    <record
        id="action_simplified_income_company_config_tree"
        model="ir.actions.act_window.view"
    >
        <field name="sequence">1</field>
        <field name="view_mode">kanban</field>
        <field name="view_id" ref="base.view_res_company_kanban" />
        <field name="act_window_id" ref="action_simplified_income_company_config" />
    </record>

    <record
        id="action_simplified_income_company_config_form"
        model="ir.actions.act_window.view"
    >
        <field name="sequence">2</field>
        <field name="view_mode">form</field>
        <field name="view_id" ref="view_company_form_manager" />
        <field name="act_window_id" ref="action_simplified_income_company_config" />
    </record>

    <!-- assign standard menus to group_full (= hide them) -->
    <record id="mail.menu_root_discuss" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
    <record id="base.menu_management" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
    <record id="base.menu_board_root" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
    <record id="contacts.menu_contacts" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
    <record id="spreadsheet_oca.spreadsheet_spreadsheet_menu" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
    <record id="project.menu_main_pm" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
    <record id="document_knowledge.menu_document_root" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
    <record id="hr.menu_hr_root" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
    <record id="utm.menu_link_tracker_root" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
    <record id="website.menu_website_configuration" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.set([ref('group_full')])]" />
    </record>
</odoo>
